.character-detail-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;/* Fondo blanco para el modo claro */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .dark {
    background-color: var(--secundary-dark-background); 
  }
  
  .character-detail-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem; /* Espaciado entre la imagen y la info */
    width: 100%;
  }
  
  .character-image-container {
    flex: 1;
    max-width: 400px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .character-image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .character-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: inherit;
  }
  
  .character-info h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  
  .character-info p {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
  
  .character-info p strong {
    color: inherit;
  }
  
  @media (max-width: 768px) {
    .character-detail-container {
      flex-direction: column;
      gap: 1rem;
    }
  
    .character-detail-content {
      flex-direction: column;
      align-items: center;
    }
  
    .character-image-container {
      max-width: 300px;
      margin-bottom: 1rem;
    }
  
    .character-info {
      width: 100%;
      text-align: center;
    }
  }
  